---
import AboutMe from '../components/AboutMe.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Salah | Frontend Developer" language="en" description="Discover my experience in creating websites using technologies such as React, JavaScript, Astro, HTML & CSS. Visit each of my projects that reflect my dedication and creativity.">
	<main class="flex flex-col m-5 dark:bg-[#13151a] bg-white">
    
    <section class="grid min-h-[75dvh] sm:min-w-[75dvh] max-w-screen-md grid-cols-3 gap-2 md:grid-cols-4 md:gap-4 my-5 mx-auto lg:px-20">
      <AboutMe/>
    </section>
	</main>
</Layout>
