/* DAY */
.TimeCard_hot__Br_X1 {
  position: relative;
  background: linear-gradient(to top right, #ff5722, #fb8c00);
  box-shadow: 1px 1px 30px #ff6f00;
}

.TimeCard_container__bLNa3 {
  border-radius: 40%;
  z-index: 120;
}

.TimeCard_sun___9W9H {
  position: absolute;
  top: -10%;
  left: 65%;
  border-radius: 100%;
  background: linear-gradient(to bottom left, #ffeb3b, #f9a825 90%);
  box-shadow: 1px 1px 30px #ffa000;
  animation: TimeCard_inex__wdnhf 3s linear infinite;
}

.TimeCard_sunx__Dp1CZ {
  position: absolute;
  top: 30%;
  left: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.2;
}

@keyframes TimeCard_inex__wdnhf {
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
}

/* NIGHT */
.TimeCard_night__BfZ0q {
  position: relative;
  background: linear-gradient(to bottom right, #3f51b5, #ab47bc 70%);
  box-shadow: 1px 1px 30px #512da8;
}

.TimeCard_night__BfZ0q li {
  position: absolute;
  list-style: none;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #fff;
  transform: rotate(45deg);
}

.TimeCard_night__BfZ0q li:first-child {
  top: 30%;
  left: 65%;
}

.TimeCard_night__BfZ0q li:nth-child(2) {
  top: 35%;
  left: 53%;
}

.TimeCard_night__BfZ0q li:nth-child(3) {
  opacity: 0;
  top: 20%;
  left: 75%;
  width: 2px;
  height: 2px;
  animation: TimeCard_meteor__1qJO5 1.5s linear infinite;
  animation-delay: 0.6s;
}

.TimeCard_night__BfZ0q li:nth-child(5) {
  opacity: 0;
  top: 20%;
  left: 55%;
  width: 1px;
  height: 15px;
  animation: TimeCard_meteor__1qJO5 1.5s linear infinite;
}

.TimeCard_night__BfZ0q li:nth-child(4) {
  top: 5%;
  left: 50%;
}

@keyframes TimeCard_meteor__1qJO5 {
  10% {
    opacity: 1;
  }

  80% {
    left: 10%;
    top: 75%;
    opacity: 0;
  }
}

.TimeCard_container__bLNa3 {
  border-radius: 40%;
  z-index: 120;
}

.TimeCard_moon__scQu9 {
  position: absolute;
  top: -10%;
  left: 55%;
  border-radius: 100%;
  background: #fff176;
  box-shadow: 1px 1px 30px #e0e0e0;
}

.TimeCard_spot1__SaOIN {
  top: 0;
  left: 85%;
  width: 10px;
  height: 10px;
}

.TimeCard_spot1__SaOIN,
.TimeCard_spot2__Cq_4z {
  position: absolute;
  border-radius: 100%;
  background-color: #777;
}

.TimeCard_spot2__Cq_4z {
  top: 30%;
  left: 75%;
  width: 5px;
  height: 5px;
}
