---
import AboutMe from '../../components/AboutMe.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Salah | Frontend Developer" language="en" description='Descubre mi experiencia en la creación de páginas web utilizando tecnologías como React, JavaScript, Astro, HTML & CSS. Visita cada uno de mis proyectos que reflejan mi dedicación y creatividad.'>
	<main class="flex flex-col m-5">
    <section class="grid max-w-screen-lg grid-cols-3 gap-2 md:grid-cols-4 md:gap-4 my-5 mx-auto lg:px-20">
      <AboutMe/>
    </section>
	</main>
</Layout>

